In [2]:
# 1. write a code to reverse a string
string = " hello world "
print(string[::-1])

 dlrow olleh

In [1]:
# 2. write a code to count the number of  vowels in a string
string = "hey its NeEtesh Kumar Sharma"
string=string.lower()
print(string)
a = "aeiou"
count = 0
for i in string:
    if i in a:
        count = count+1
print(count)

hey its neetesh kumar sharma
9

In [3]:
# 3. write a code to check if a given string is a palidrome or not
string = "malayalam"
string2 = string[::-1]

if string == string2:
  print("The string is a palindrome")
else:
  print("The string is not a palindrome")

The string is a palindrome

In [4]:
 # 4. write a code to check if two given strings are anagrams of each other.
string = "neetesh"
string2 = "eetnesh"
string = (sorted(string))
string2 = (sorted(string2))

if string == string2:
    print("the string is anagram")
else:
    print("the string is not anagram")

the string is anagram

In [21]:
# 5. write a code to find all tthe occurences of a given substring with another string
string = " hey its neetesh kumar shamra "
sub_string = "neetesh"
print(sub_string in string)
print(sub_string.find(string))

True
-1

In [1]:
# 6. write a code to perform basic string compression using the counts of repeated character

string = "aabcccccaaabbb"
count = 0
for i in range(len(string) - 1):
  if string[i] == string[i + 1]:
    count += 1
  else:
    print(string[i] + str(count + 1), end = "")
    count = 0
print(string[i] + str(count + 1))

a2b1c5a3b3

In [8]:
# 7. write a code to determine if a string has all unique character

string = "hey its neetesh kumar sharma"
count = 0
for i in string:
    if string.count(i)>1:
        count+=1
print(count)

23

In [13]:
# 8. write a code to convert a given string to uppercase or lowerccase

string = "PW Skills, Data Analytics"
print(string.lower())
print(string.upper())
print(string.capitalize())

pw skills, data analytics
PW SKILLS, DATA ANALYTICS
Pw skills, data analytics

In [18]:
# 9. write a code to count the number of word in a string

string = "PW Skills, Data Analytics, data science"
count = 0
for i in range(len(string)):
    count += 1
print(count)

39

In [20]:
# 10. write a code to concatenate two strings without using the + operator

string1 = "Data Analytics, data science"
string2 = "sql, machine learning"
concatenate_string = " ".join([string1,string2])
print(concatenate_string)

Data Analytics, data science sql, machine learning

In [30]:
# 11. write a code to remove all occurences of a specific element from a list
list = [1,2,3,4,5,5,6,7,7,8,8]
list.remove(5)
print(list)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 8]

In [29]:
# 12. implement aa code to find the second largest number in a given list of integers
list = [1,2,3,4,5,6,7,8,10,10]
list = sorted(list)
print(" second largest number in the list is :",list[-2])

 second largest number in the list is : 10

In [5]:
""" 13. create a code to count the occcurences of each element in a list and return a dictionary with element 
as keys and their count as values"""
list = [1,2,3,4,5,6,7,8,9,10,1,4,5,3,6,7,8,4,2,]
dict = {}
for i in list:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1
print(dict)

{1: 2, 2: 2, 3: 2, 4: 3, 5: 2, 6: 2, 7: 2, 8: 2, 9: 1, 10: 1}

In [35]:
 # 14. Write a code to reverse a list in-place without using any built-in reverse functions
list = [ 1,2,3,4,5,6,7,7,8,9,10]
print(list[::-1])

[10, 9, 8, 7, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
 # 15.Write a code to merge two sorted lists into a single sorted list
l1 = [1,4,5,2,5,6,3,5,3]
l2 = [3,4,5,2,6,7,4,7,9]
l3 = sorted(l1) + sorted(l2)
    
print(l3)

In [1]:
# 16. Implement a code to find the intersection of two given lists
list1 = [1,4,5,6,7,5,5,4,6,7,10]
list2 = [2,4,7,9,7,9,3,2,8,9,10]
list3 =[]
for i in list1:
    if i in list2:
            list3.append(i)
print(list3)

[4, 7, 4, 7, 10]

In [14]:
""" 17. Implement a code to find and remove duplicates from a list while preserving the original order of 
elements"""
list1 = [1,2,3,5,3,2,4,5,6,7,8,7,6,10]
print("original list :", list1)
new_list = []
for i in list1:
    if i not in new_list:
        new_list.append(i)
print("new list :",new_list)

original list : [1, 2, 3, 5, 3, 2, 4, 5, 6, 7, 8, 7, 6, 10]
new list : [1, 2, 3, 5, 4, 6, 7, 8, 10]

In [8]:
# 18.  Create a code to check if a given list is sorted (either in ascending or descending order) or not
list1 = [1,2,3,4,6,8,10]
list2 = sorted(list1)
list3 = list1[::-1]
if list1 == list2:
    print("list is in ascending order",list1)
elif list1 == list3:
    print("list is in descending order",list1)
else:
    print("list is neither ascending nor descending")

list is in ascending order [1, 2, 3, 4, 6, 8, 10]

In [1]:
# 19. Create a code to find the union of two lists without duplicates
list1 = [1,2,3,2,4,5,6,7,5,4,5]
list2 = [2,3,4,5,6,4,3,4,2,4,6]
list3 = []
list4 = []
for i in list1:
    if i not in list3:
        list3.append(i)        
#print(list3)
for j in list2:
    if j not in list4:
        list4.append(j)
#print(list4)
list5 = list3+list4
list6 =[]
for k in list5:
    if k not in list6:
        list6.append(k)
print(list6)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
# 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [9,8,7,6,7,8,4,5,6,13]

for i in range(len(list1)):
    list2[i] = list1[i]
print(list2)

[1, 2, 45, 5, 5, 6, 7, 8, 9, 10]

In [5]:
 """ 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are 
common to both input tuples"""
 
tuple1 = eval(input("enter the value for tuple 1 :- "))
tuple2 = eval(input("eneter th value for tuple 2 :- "))
tuple3 = tuple(set(tuple1) & set(tuple2))
print(tuple3)

enter the value for tuple 1 :-  1,2,3,4,4
eneter th value for tuple 2 :-  1,2,5,6,7,8

(1, 2)

In [6]:
""" 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the 
intersection of these two sets """
set1 = set(input("enter the elements in set1 :- "))
set2 = set(input("enter the elements in set2 :- "))
print("intersection of these two sets of integer",set1^set2)

enter the elements in set1 :-  1,2,3,4,4
enter the elements in set2 :-  1,2,4,7,6,5,4

intersection of these two sets of integer {'6', '5', '7', '3'}

In [5]:
""" 23.  Write a code to concatenate two tuples. The function should take two tuples as input and return a new 
tuple containing elements from both input tuples. """
def concatenate_tuple(tuple1,tuple2):
    return tuple1+tuple2

tuple1 = (1,2,3,4,3,2,3,4,5,6)
tuple2 = (5,7,6,5,5,4,64,6,4,45,5)

print(concatenate_tuple(tuple1,tuple2))

(1, 2, 3, 4, 3, 2, 3, 4, 5, 6, 5, 7, 6, 5, 5, 4, 64, 6, 4, 45, 5)

In [17]:
""" 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are 
present in the first set but not in the second set"""
set1 = set(input("enter the element in set1 :- "))
set2 = set(input("enter the elemnet in set2 :- "))
print(set1-set2)

enter the element in set1 :-  neetesh
enter the elemnet in set2 :-  eetefgh

{'s', 'n'}

In [3]:
""" 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple 
containing elements from the original tuple within the specified range of indices """
def tuple_range(tuple,start,end):
    return tuple[start:end]

tuple = (1,2,3,4,5,6,7,8,9)
start = 1
end = 8
print(tuple_range(tuple,start,end))

(2, 3, 4, 5, 6, 7, 8)

In [19]:
""" 26.  Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets """
set1 = set(input("Enter the first set of characters: "))
set2 = set(input("Enter the second set of characters: "))
print(set1.union(set2))

Enter the first set of characters:  data analyst
Enter the second set of characters:  data scientist

{'d', 't', 'c', 'l', 'y', 'a', 'i', 's', 'n', 'e', ' '}

In [6]:
""" 27.  Develop a code that takes a tuple of integers as input. The function should return the maximum and 
minimum values from the tuple using tuple unpacking """

def max_min(tuple):
    return min(tuple) , max(tuple)
tuple = (1,2,3,4,5)
max_min(tuple)

(1, 5)

In [21]:
""" 28.  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these 
two sets """
set1 = set(input("Enter the first set of characters: "))
set2 = set(input("Enter the second set of characters: "))
print("union of two sets are :-",set1.union(set2))
print("intersection of two sets are :-",set1.intersection(set2))
print("difference of two sets are :-",set1.difference(set2))

Enter the first set of characters:   1,2,3,4,5,6,7
Enter the second set of characters:   1,2,3,8,9,7,6

{'1', '7', '2', '3', '6', '5', '8', ',', '9', ' ', '4'}
{'7', '1', '2', '3', '6', ',', ' '}
{'5', '4'}

In [10]:
""" 29.  Write a code that takes a tuple and an element as input. The function should return the count of 
occurrences of the given element in the tuple """
def count(*tuple):
    s = 0
    for i in tuple:
        s = s+i
    return s
print(count(1,3,7,7,8,8))

34

In [14]:
""" 30.  Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of 
these two sets """
s1 = set(input("enter the strinf first:- "))
s2 = set(input("enter the string second :- "))
print(s1.symmetric_difference(s2))

enter the strinf first:-  data science
enter the string second :-  data analytics

{'e', 'l', 'y'}

In [23]:
""" 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words 
and the values are the frequencies of those words in the input list"""
def word_frequency(words):
    freq = {}
    for i in words:
        if i in freq:
            freq[i] += 1
        else:
            freq[i] = 1
    return freq
words = ["a","b","c","b","a","v","a","d","a","d","c"]
freq = word_frequency(words)
print(freq)

{'a': 4, 'b': 2, 'c': 2, 'v': 1, 'd': 2}

In [31]:
""" 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are 
common keys, the values should be added together """
dict1 = { 'a':1 , 'b' :2 , 'c':3 ,'d':4 , 'e' :5 , 'f':6}
dict2 = { 'a':4 , 'b' :5 , 'c':3 ,'d':6 , 'e' :9 , 'f':6}
dict3 = {}
for key,value in dict1.items():
    dict3[key] = value
    
for key,value in dict2.items():
    if key in dict3:
            dict3[key] += value 
    else:
        dict3[key] = value
print(dict3)

{'a': 5, 'b': 7, 'c': 6, 'd': 10, 'e': 14, 'f': 12}

In [5]:
""" 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of 
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the 
function should return None """

def nested_dict(dict, keys):
    if not keys:
        return dict
    key = keys[0]
    if key not in dict:
        return None
    return nested_dict(dict[key], keys[1:])

dict = {'a': {'b': {'c': 'd'}}}
keys = ['a', 'b', 'c']
print(nested_dict(dict, keys))

d

In [4]:
""" 34.  Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You 
can choose whether to sort in ascending or descending order """

def sorted_dict(dict):
    sort_dict = sorted(dict.items(), key = lambda x:x[1])
    return sort_dict

dict = {'a':1,'b':8,'c':5,'d':2}
print(sorted_dict(dict))

[('a', 1), ('d', 2), ('c', 5), ('b', 8)]

In [21]:
""" 35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary 
correctly handles cases where multiple keys have the same value by storing the keys as a list in the 
inverted dictionary """
def invert_dict(d):
    inverse = dict()
    for key in d:
        val = d[key]
        if val not in inverse:
            inverse[val] = [key]
        else:
            inverse[val].append(key)
    return inverse

d = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2}
print(invert_dict(d))

NameError: name 'inverse' is not defined